@import "tailwindcss";

html,
body {
  background-color: #0f0f0f;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  background: #e2e8f0;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  margin: 0 auto;
}

@layer base {

  
  p {
    a {
      text-decoration: underline;
      color: var(--color-blue-300);
  
      &:hover {
        color: var(--color-blue-400);
      }
    }
    margin-bottom: --spacing(4);
  }

  section {
    margin-bottom: --spacing(16);

    @screen sm {
      margin-bottom: --spacing(8);
    }
  }
}

.cta {
  background-color: var(--color-red-600);

  &:hover {
      background-color: var(--color-red-500);
  }
  color: var(--color-white);
  font-weight: bold;
  padding: --spacing(4);
  text-decoration: none;
  border-radius: var(--radius-sm);
  display: inline-flex;
  align-items: center;

  &.small {
    padding: --spacing(2) --spacing(4);
    border-radius: var(--radius-lg);
    width: 100%;
    justify-content: center;
  }
}


.pricing {
  width: 100%;
  
  > div {    
    border-radius: var(--radius-lg);
    padding: --spacing(4);
    background: #1e1e1e;
  }

  h3 {
    font-weight: bold;
    font-size: var(--text-base);
    margin-bottom: --spacing(4);
  }

  strong {
    font-size: var(--text-3xl);
    margin-right: --spacing(2);
  }

  ul {
    list-style-type: disc;
    margin-left: --spacing(4);
    margin-bottom: --spacing(4);
  }
  .price {
    margin-bottom: --spacing(2);

  }
}



.mapouter{position:relative;text-align:right;width:100%;height:300px;}
.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:300px;}
.gmap_iframe {height:300px!important;}